<section class="main">
  <div class="mb-wrap mb-style-2">
    <blockquote cite="<%= @quote.source %>">
      <p><%= @quote.body %></p>
    </blockquote>
  </div>
  <div class="mb-wrap mb-attribution">
    <p class="mb-author">
      <a href="<%= @quote.paywall_link %>"><%= @quote.author.name %></a>
    </p>
  </div>
