<p id="notice"><%= notice %></p>

<h1>Authors</h1>

<table>
  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><a href="<%= author.twitter %>"><%= author.name %></a></td>
      </tr>
    <% end %>
  </tbody>
</table>
